<!DOCTYPE html>
<html lang="en">

	{% include "head.html" with title="About" %}

	<body>
		<h1 id="title">About and Contributers</h1>

		{% include "navbar.html" %}

		<div id="content">
			<section class="box">
				<table id="about">
					<caption>All Those Supporting this Site</caption>
					<thead>
						<tr>
							<th>Photo</th>
							<th>Name</th>
							<th>Twitter</th>
							<th>EMail</th>
							<th>Affiliation</th>
							<th>Contributions</th>
							<th>ORCID</th>
							<th>Research IDs</th>
						</tr>

					</thead>
					<tbody>
						<tr>
							<td>N/A</td>
							<td>Eric Klatzco</td>
							<td>@quantumegg</td>
							<td>eklatzco@mines.edu</td>
							<td>Colorado School of Mines</td>
							<td>Website Creation</td>
							<td>N/A</td>
							<td>N/A</td>
						</tr>
						<tr>
							<td>N/A</td>
							<td>Jessy Liao</td>
							<td>@eh</td>
							<td>@mines.edu</td>
							<td>Colorado School of Mines</td>
							<td>Website Creation</td>
							<td>N/A</td>
							<td>N/A</td>
						</tr>
						<tr>
							<td>N/A</td>
							<td>Lucas Kitaev</td>
							<td>N/A</td>
							<td>lkitaev@mymail.mines.edu</td>
							<td>Colorado School of Mines</td>
							<td>Database Creation</td>
							<td>0123456789</td>
							<td>9876543210</td>
						</tr>
						<tr>
							<td>N/A</td>
							<td>Bryanna Gaede</td>
							<td>@Battle_bry</td>
							<td>bpriddy@mymail.mines.edu</td>
							<td>Colorado School of Mines</td>
							<td>Database Creation</td>
							<td>N/A</td>
							<td>N/A</td>
						</tr>
						<tr>
							<td>N/A</td>
							<td>Vlad Muresan</td>
							<td>N/A</td>
							<td>vmuresan@mymail.mines.edu</td>
							<td>Colorado School of Mines</td>
							<td>Database Creation</td>
							<td>N/A</td>
							<td>N/A</td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>

		<footer id="footer">
		</footer>
	</body>
</html>
