<!DOCTYPE html>
<html lang="en">

	{% include "head.html" with title="Contribute" %}

	<body>
		<h1 id="title">Website Contributors</h1>

		{% include "navbar.html" %}

		<div id="content">
			<div id="left">
				<div id="inner-left" class="box">
					<p>Thank you for showing interest in contributing to the S4Slide Database.
					If you wish to upload data, you must be signed in with Google.</p>
					<p>In order to facilitate data storage, file uploads must be in a consistent format.
					A sample CSV file with the required column headers
					{% load static %}
					<a href="{% static "s4slide-db-template.csv" %}" download>can be downloaded here</a>.
					Please fill them in to the best of your ability. Further details on the schema
					<a href="https://github.com/zanejobe/S4SlideDB/blob/master/schema/schema.csv">
						can be found here</a>.</p>
				</div>

			</div>

			<div id="right">
				<script src="https://apis.google.com/js/platform.js" async defer></script>
				<div id="inner-right" class="box">
					<div class="g-signin2" data-onsuccess="onSignIn"></div>
					<p style="color:red">Navigating away or reloading will sign you out.</p>
				</div>
				<script>
function onSignIn(googleUser) {
	if (!googleUser) return;
	var profile = googleUser.getBasicProfile();
	sessionStorage.setItem("id", profile.getId());
	sessionStorage.setItem("name", profile.getName());
	sessionStorage.setItem("email", profile.getEmail());
}

function signOut() {
	gapi.auth2.getAuthInstance().signOut().then(function () {
		sessionStorage.clear();
	});
}

window.addEventListener("beforeunload", function (ev) { signOut(); });
				</script>
			</div>

		</div>

		<footer id="footer">
		</footer>

	</body>
</html>
