<!DOCTYPE html>
<html lang="en">

	{% include "head.html" with title="Contribute" %}

	<body>

		{% include "navbar.html" %}

		<div id="content">
			<div id="left">
				<div id="inner-left" class="box">
					<p>Thank you for showing interest in contributing to the S4Slide Database.
					If you wish to upload data, you must be signed in with Google.</p>
					<p>In order to facilitate data storage, file uploads must be in a consistent format.
					A CSV template with column headers
					{% load static %}
					<a href="{% static "s4slide-db-template.csv" %}" download>can be downloaded here</a>.
					Please fill them in to the best of your ability. Further details on the schema
					<a href="https://github.com/zanejobe/S4SlideDB/blob/master/schema/schema.csv">can be found here</a>.</p>
					<p>Only the latitude and longitude columns are required, all other columns are optional; however, please try to include a name for every row, as this makes database entries easier to search for.
					Any columns that are completely empty are ignored, and any additional columns that are included will be ignored.</p>

					<p>All newly uploaded entries will be marked as unverified by default.
					An administrator will mark an entry as verified if it is deemed acceptable.
					Failure to include pertinent data, like an entry name, may result in the entry being removed.
					Repeated upload of bad data may result in your Google account being banned from this website.</p>
				</div>
				<div class="box">
					<p>Below is a listing of the top contributors to this website. Only verified entries count as contributions.</p>
					<table id="people">
						<caption>Website Contributors</caption>
						<thead>
							<tr>
								<th>Number of Contributions</th>
								<th>Contact Name</th>
								<th>Contact Email</th>
							</tr>
						</thead>
						<tbody>
							{% for row in data %}
							<tr>
								<td>{{ row.contributions }}</td>
								<td>{{ row.contact_name }}</td>
								<td>{{ row.contact_email }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<div id="right">
				<script src="https://apis.google.com/js/platform.js" async defer></script>
				<div id="inner-right" class="box">
					<div class="g-signin2" data-onsuccess="onSignIn"></div>
					<p style="color:red">Navigating away from this page, reloading the page, or closing the page will sign you out.</p>
				</div>
				<script>
function onSignIn(googleUser) {
	if (!googleUser) return;
	var profile = googleUser.getBasicProfile();
	sessionStorage.setItem("id", profile.getId());
	sessionStorage.setItem("name", profile.getName());
	sessionStorage.setItem("email", profile.getEmail());
	var input = document.createElement("input");
	input.type = "file";
	input.accept = ".csv,text/csv";
	input.required = true;
	var form = document.getElementById("ul-form");
	form.insertBefore(input, form.childNodes[0]);
	document.getElementById("ul").style.display = "block";
}

function signOut() {
	gapi.auth2.getAuthInstance().signOut().then(function () {
		sessionStorage.clear();
	});
}

window.addEventListener("beforeunload", function (ev) { signOut(); });
				</script>
				<div id="ul" class="box" style="display:none">
					<form id="ul-form">
						{% csrf_token %}
						<button type="submit">Submit</button>
					</form>
					<p style="color:red">By clicking submit, you agree to have your name and email associated with the file upload.</p>
					<div id="ul-status"></div>
				</div>
			</div>

		</div>

		<footer id="footer">
		</footer>

	</body>
</html>
