{% load static %}
<head>
	<title>S4Slide: {{ title }}</title>
	<meta charset="utf-8">
	<meta name="description" content="Information and data visualization for underwater landslides.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-signin-client_id" content="560425220114-qc21j8f46oo9uij4k83bc3upnv04jpq0.apps.googleusercontent.com">
	<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
	<link rel="shortcut icon" href="{% static "/favicon.ico" %}" type="image/x-icon">
	<link rel="icon" href="{% static "/favicon.ico" %}" type="image/x-icon">
	<script src="{% static "js/index.js" %}" async></script>
</head>
