<!DOCTYPE html>
<html lang="en">

	{% include "head.html" %}

<body>
	<h1 id="title">Underwater Landslides</h1>

	{% include "navbar.html" %}

    <div id="content">
        <div id="left">
            <div id="inner-left">
                <article class="box">
			{% load static %}
			<img src="{% static "images/landslide.jpg" %}" alt="Stevie Nicks Loves Cocaine" width="720">
                </article>
                <article class="box">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque placerat orci, ut placerat tortor. Aenean efficitur feugiat ex, sed ornare enim accumsan facilisis. Integer venenatis est a molestie egestas. Nunc libero ligula, sollicitudin non molestie id, lacinia at enim. Donec tellus nulla, gravida et nibh ut, volutpat dapibus leo. Cras tempor tristique nunc et posuere. Sed viverra venenatis odio eu fermentum.
                </br></br>
                Curabitur sit amet magna ut odio euismod tempus. Maecenas id felis a sapien tincidunt placerat. Donec porta tincidunt condimentum. Pellentesque malesuada ante ac tristique consequat. Morbi ut iaculis lorem. Proin non dolor orci. Pellentesque eget tempus sapien, nec venenatis ex. Donec congue imperdiet venenatis. Donec facilisis in erat luctus auctor.
                </article> 
                <article class="box">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque placerat orci, ut placerat tortor. Aenean efficitur feugiat ex, sed ornare enim accumsan facilisis. Integer venenatis est a molestie egestas. Nunc libero ligula, sollicitudin non molestie id, lacinia at enim. Donec tellus nulla, gravida et nibh ut, volutpat dapibus leo. Cras tempor tristique nunc et posuere. Sed viverra venenatis odio eu fermentum.
                </article>  
            </div>
        </div>

        <div id="right">
            <div id="inner-right">
                <article class="box">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque placerat orci, ut placerat tortor. Aenean efficitur feugiat ex, sed ornare enim accumsan facilisis. Integer venenatis est a molestie egestas. Nunc libero ligula, sollicitudin non molestie id, lacinia at enim. Donec tellus nulla, gravida et nibh ut, volutpat dapibus leo. Cras tempor tristique nunc et posuere. Sed viverra venenatis odio eu fermentum.
                </article>
                
            </div>
        </div>
    </div>

	<footer id="footer">
        import more php 
    </footer>
</body>
</html>
