<!DOCTYPE html>
<html lang="en">

	{% include "head.html" with title="Home" %}

	<body>

		{% include "navbar.html" %}

		{% load static %}
		
		<div id="content">
			<div id="left">
				<h2>Subaqueous Landslide Morphometrics Database for Global Outreach and Crowd-Sourced Data Collection</h2>
				<div id="inner-left" class="box">
						<p>Subaqueous landslides are common deposits occurring in environments ranging from lakes and coasts to deepwater ocean basins. Their occurrence can trigger destructive tsunamigenic waves affecting coastal populations, damaging and disrupting communication and other industrial infrastructure (e.g. oil and gas, offshore wind farms, etc), and upsetting biotic communities. In addition, ancient subaqueous landslides play an important role in the development and distribution of non-renewable natural resources (i.e., oil and gas), and impact the safety of exploring for deep subsurface resources. </p>

						<!-- make the link open in new tab, because we're not animals here -->
						<p>Despite recognizing the broad scientific importance of subaqueous landslides, most of the research has concentrated on the qualitative description of these events/deposits. Most recently, the subaqueous landslide community has come to a consensus to standardize the collection of quantitative data associated with the morphometry (e.g., length, area, volume, runout distance, etc.), setting and physical nature of these deposits (<a href="https://doi.org/10.1144/SP477.15" target="_blank">Clare et al., 2018</a>). It is our hope that this website will: </p>
						<ul>
							<li>hosts this burgeoning community database, and</li>
							<li>promote collection of standardized, quantitative data for subaqueous landslide deposits</li>
						</ul>

						<p>We will also (eventually) provide a set of python-based tools for subaqueous landslide analysis that can be used for a variety of modeling efforts including tsunami and geohazard risk assessment, paleoclimate and organic carbon modeling, and many other applications. We see this database and analysis toolset as a bridge to better data collection practices, modeling efforts, and collaborations not only within the subaqueous landslide community, but also with the <a href="https://twitter.com/JanFredrikD/status/1268270255509512193?s=20" target="_blank">subaerial landslide</a> community. </p>
				</div>
				<div class="box">
					<a href="https://twitter.com/ZaneJobe/status/973806008379338753" target="_blank">
						<img src="{% static "images/BlacksBeachMTDZaneJobe.jpeg" %}" alt="Blacks Beach" width="1024" height="768">
					</a>
				</div>
			</div>
			<div id="right">
				<div class="box">
					<a href="http://www.searchanddiscovery.com/documents/2010/50270meckel/ndx_meckel.pdf" target="_blank">
						<img src="{% static "images/SubaqueousLandslideLineDrawing.jpg" %}" alt="Line Drawing" width="400" height="218">
					</a>
				</div>
				<div class="box">
					<a href="https://doi.org/10.1111/j.1440-1738.2007.00587.x" target="_blank">
						<img src="{% static "images/submarine-landslide-japan-yamamoto-1.jpg" %}" alt="Yamamoto" width="320" height="214">
					</a>
				</div>
			</div>
		</div>

		<footer id="footer">
		</footer>
	</body>
</html>
