<!DOCTYPE html>
<html lang="en">

	{% include "head.html" with title="Measurement" %}

	<body>
		<h1 id="title">Landslide Measurements</h1>

		{% include "navbar.html" %}

		<div id="content">
			<div id="left">
				<div id="inner-left">
					<article class="box">
						{% lorem %}
						</br>
						{% lorem %}
					</article>

					<article class="box">
						{% lorem %}
						</br>
						{% lorem %}
					</article>

					<article class="box">
						{% lorem %}
						</br>
						{% lorem %}
					</article>
				</div>

			</div>

			<div id="right">
				<div id="inner-right">
					<p class="box">{% lorem %}</p>
				</div>
			</div>

		</div>

		<footer id="footer">
		</footer>

	</body>
</html>
