<!DOCTYPE html>
<html lang="en">

	{% include "head.html" with title="Links" %}

	<body>

		{% include "navbar.html" %}

		<div id="content" class="box">
			<p>Clare et al paper <a href="https://sp.lyellcollection.org/content/477/1/455.abstract" target="_blank">https://sp.lyellcollection.org/content/477/1/455.abstract</a></p>
			<p>2020 Slides meeting <a href="https://www.slidesdublin2020.com/" target="_blank">https://www.slidesdublin2020.com</a></p>
			<p>S4Slide webpage <a href="https://sites.google.com/a/utexas.edu/s4slide/" target="_blank">https://sites.google.com/a/utexas.edu/s4slide/</a></p>
			<p>This project sponsored by ESIP <a href="https://www.esipfed.org/" target="_blank">https://www.esipfed.org</a></p>
		</div>

		{% include "footer.html" %}

	</body>
</html>
