<!DOCTYPE html>
<html lang="en">

<head>
	<title>S4Slide: Plot</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
	<div id="plotContent"></div>
	<script>
		let areas = [];
		let volumes = [];
		for (let data of parent.data) {
			let area = data.metrics.a;
			let volume = data.metrics.v;
			if (area != "" && volume != "") {
				areas.push(area);
				volumes.push(volume);
			}
		}

		var data = [{
			x: areas,
			y: volumes,
			mode: 'markers',
			type: 'scatter'
		}];

		var layout = {
			title: {
				text: 'Area vs Volume (Log scale)',
				xref: 'paper',
				x: 0.05,
			},
			xaxis: {
				type: 'log',
				tickMode: 'linear',
				dtick: '1',
				title: {
					text: 'Area (sq. m)',
				},
			},
			yaxis: {
				type: 'log',
				tickMode: 'linear',
				dtick: '1',
				title: {
					text: 'Volume (cu. m)',
				}
			}
		};

		// put plot in div
		Plotly.newPlot('plotContent', data, layout);

	</script>
</body>

</html>