<!DOCTYPE html>
<html lang="en">

	{% include "head.html" with title="Database" %}

	<body>
		<h1 id="title">Underwater Landslide Database</h1>

		{% include "navbar.html" %}

		<div id="content">
			<section class="box">
				{% for k,v in data.items %}
					<p>{{ k }}={{ v }}</p>
				{% endfor %}

				<form id="dataSelector" method="get">
					<fieldset id="selector">
						<legend>Search Data</legend>
						<ul>{{ form.as_ul }}</ul>
						<input type="submit" value="Submit">
					</fieldset>
				</form>

				<table id="people">
					<caption>Data Viewer</caption>
					<thead>
						<tr>
							<th>Location</th>
							<th>Contributor</th>
							<th>Date Added</th>
							<th>Strat Interval</th>
							<th>Age</th>
							<th>Download Link</th>
							<th>Other</th>
						</tr>

					</thead>
					<tbody>
						<tr>
							<td>Africa</td>
							<td>Max Silver</td>
							<td>2019</td>
							<td>-</td>
							<td>-</td>
							<td>link</td>
							<td>field</td>
						</tr>
						<tr>
							<td>GOM</td>
							<td>Zane Jobe</td>
							<td>2018</td>
							<td>Miocene</td>
							<td>11-2</td>
							<td>link</td>
							<td>field</td>
						</tr>
						<tr>
							<td>Cali</td>
							<td>MM</td>
							<td>1926</td>
							<td>-</td>
							<td>-</td>
							<td>link</td>
							<td>field</td>
						</tr>				
					</tbody>
				</table>
			</section>
		</div>

		<footer id="footer">
		</footer>
	</body>
</html>
